In [1]:
import joblib
Loaded_X_from_joblib = joblib.load('Movies_Datase.pkl')

In [2]:
Loaded_X_from_joblib

      movieid                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9719   193581  Black Butler: Book of the Atlantic (2017)
9720   193583               No Game No Life: Zero (2017)
9721   193585                               Flint (2017)
9722   193587        Bungo Stray Dogs: Dead Apple (2018)
9723   193609        Andrew Dice Clay: Dice Rules (1991)

[9724 rows x 2 columns]

In [3]:
 Loaded_X_from_joblib["title"].str.lower()

0                                toy story (1995)
1                                  jumanji (1995)
2                         grumpier old men (1995)
3                        waiting to exhale (1995)
4              father of the bride part ii (1995)
                          ...
9719    black butler: book of the atlantic (2017)
9720                 no game no life: zero (2017)
9721                                 flint (2017)
9722          bungo stray dogs: dead apple (2018)
9723          andrew dice clay: dice rules (1991)
Name: title, Length: 9724, dtype: object

In [48]:
Loaded_X_from_joblib["title"] = Loaded_X_from_joblib["title"].str.lower() 
Loaded_X_from_joblib["title"] = Loaded_X_from_joblib["title"].str.replace(r"\(.*\)","")

In [49]:
Loaded_X_from_joblib

      movieid                                title
0           1                           toy story
1           2                             jumanji
2           3                    grumpier old men
3           4                   waiting to exhale
4           5         father of the bride part ii
...       ...                                  ...
9719   193581  black butler: book of the atlantic
9720   193583               no game no life: zero
9721   193585                               flint
9722   193587        bungo stray dogs: dead apple
9723   193609        andrew dice clay: dice rules

[9724 rows x 2 columns]

In [50]:
joblib.dump(Loaded_X_from_joblib, 'Movies_Datase.pkl')

['Movies_Datase.pkl']

In [51]:
Loaded_X_from_joblib = joblib.load('Movies_Datase.pkl')

In [52]:
Loaded_X_from_joblib

      movieid                                title
0           1                           toy story
1           2                             jumanji
2           3                    grumpier old men
3           4                   waiting to exhale
4           5         father of the bride part ii
...       ...                                  ...
9719   193581  black butler: book of the atlantic
9720   193583               no game no life: zero
9721   193585                               flint
9722   193587        bungo stray dogs: dead apple
9723   193609        andrew dice clay: dice rules

[9724 rows x 2 columns]

In [59]:
m='toy story'
m=m+' '
w=Loaded_X_from_joblib.loc[Loaded_X_from_joblib['title']==m].index.values[0]

In [60]:
w

0

In [58]:
print(Loaded_X_from_joblib[Loaded_X_from_joblib['title']=='jumanji '].index.values[0])

1

In [35]:
Loaded_X_from_joblib

      movieid                                title
0           1                           toy story
1           2                             jumanji
2           3                    grumpier old men
3           4                   waiting to exhale
4           5         father of the bride part ii
...       ...                                  ...
9719   193581  black butler: book of the atlantic
9720   193583               no game no life: zero
9721   193585                               flint
9722   193587        bungo stray dogs: dead apple
9723   193609        andrew dice clay: dice rules

[9724 rows x 2 columns]

In [37]:
Loaded_X_from_joblib[Loaded_X_from_joblib['title']=='toy story'].index.values

array([], dtype=int64)

In [47]:
Loaded_X_from_joblib = joblib.load('Movies_Datase.pkl')